<!doctype html>
<html>
    
<head>
    <title>Disney's Happy Fun Time for Friends!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sheet2.css" />
</head>
        
<body>  
    <div class="form-container">
        <p class="form-header">Login for Fun with Friends!</p>
        <form method="POST" action="/login">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="login" value="Login">
        </form>
    </div>
    <a id="signUpLink" href="/signup">Sign Up</a>
   

<iframe width="3" height="2" id="disneysong"
src="https://www.youtube.com/embed/cgmYMrGdnaY?autoplay=1&controls=0&loop=1">
</iframe>

</body>
        
</html>